<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.UpInfoMapper">


    <insert id="insertUpInfo" parameterType="org.qydata.entity.UpInfo">
        INSERT INTO qysms.SMSUpInfo(msg_id,sp_code,src_mobile,msg_content,recv_time,createTime)
        VALUES(#{upInfo.msg_id},#{upInfo.sp_code},#{upInfo.src_mobile},#{upInfo.msg_content},#{upInfo.recv_time},now())
    </insert>

</mapper>